<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>789665387571-0gt3ghbpbqq2rnnf4oo4ffe7ubpss4eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789665387571-0gt3ghbpbqq2rnnf4oo4ffe7ubpss4eb</string>
	<key>API_KEY</key>
	<string>AIzaSyDKWsqHP5QXP9mcT6XA1XQ6m5hjCBbI44E</string>
	<key>GCM_SENDER_ID</key>
	<string>789665387571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.counterWidget</string>
	<key>PROJECT_ID</key>
	<string>counterwidget-fee5a</string>
	<key>STORAGE_BUCKET</key>
	<string>counterwidget-fee5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:789665387571:ios:5db41baad4a3404a</string>
	<key>DATABASE_URL</key>
	<string>https://counterwidget-fee5a.firebaseio.com</string>
</dict>
</plist>